$primary: #023047;
$secondary: #002a3f;
$green: #52b788;
$yellow: #dddf00;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.homepage {
    background-color: $primary;
    height: 100vh;
}

nav {
    height: 60px;
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}   h1{
    color: $green;
}

ul  {
    width: 50%;
   list-style-type: none;
   display: flex;
   justify-content: space-around;
}  li {
    color: $green;
} li:hover {
    cursor: pointer;
    color: $yellow;
    transition: 1s;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: $green;
}


.homeContainer {
    padding: 0 25px ;
    margin: auto;
    width: 60%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}  .introText {
    color: $green;
    text-align: center;
    display: flex;
    height: 65%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h3 {
        line-height: 2.5rem;
    }
}  


.portfolio{
    background-color: $secondary;
    padding: 140px 0;

    h2 {
        font-size: 2.5rem;
        text-align: center;
        padding-bottom: 100px;
        color: $green;
}  


} .portfolioContainer {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;

    .leftBox, .centreBox, .rightBox {
        height: 420px;
        padding: 20px;
        flex-grow: 1;
        flex-basis: 275px;
        background: $primary;
        text-align: center;
        border: 2px solid $green;
        border-radius: 30px;
        // box-shadow: 1px 2px 5px #ffffff;

        .imageContainer img {
            width: 200px;
            padding: 10px 0;
        }

        h3 {
            color: $green;
            padding: 8px 0;
        }
    
        a {
            text-decoration: none;
            padding: 5px 20px;
            font-weight: bold;
            color: black;
            border-radius: 20px;
            background-color: $yellow;
        }

        a:hover {
            background-color: #52b788;
        }
    
        p{
            color: #ffffff;
            padding: 15px;
        }
    }
}

.contact {
    background-color: $secondary;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h2 {
        font-size: 2.5rem;
        text-align: center;
        color: $green;
    }
} form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $green;
    padding: 20px;
    border-radius: 25px;
    input {
        padding: 15px;
        height: 30px;
        width: 350px;
        margin-top: 25px;
        border: 1px solid $secondary;
        border-radius: 15px;
    } textarea {
        padding: 15px;
        width: 350px;
        margin: auto;
        margin: 25px 0;
        border: 1px solid $secondary;
        border-radius: 15px;
    } .button {
        width: 80px;
        height: 30px;
        background-color: $yellow;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        font-weight: bold;
        padding: 0;

    } .button:hover{
        cursor: pointer;
        opacity: 80%;
        transition: 0.3s;
    }
}

.toTop {
    background: $green;
    position: fixed;
    bottom: 300px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.toTop.active {
    bottom: 30px;
    pointer-events: auto;
    opacity: 1;
}

.toTop:hover {
    cursor: pointer;
}


@media all and (max-width: 560px ) {
    .introText h3 {
        font-size: 0.8rem;
    }
     .introText {
        height: 75%;
    }
    
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg) ;
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg) ;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 60px; // -60px to take of the height of the header
        gap: 0;
        flex-direction: column;
        background-color: $secondary;
        width: 100%;
        height: 95vh;
        text-align: center;
        transition: 0.5s;
    }

    .nav-menu.active {
        left: 0;
    }

    .contact input {
        width: 200px;
    } 
    .contact textarea {
        width: 200px;
    }

}

@media all and (max-width: 375px ) {
    .introText h3 {
        font-size: 0.7rem;
    }
    .homeContainer {
        width: 100%;
    }
}

@media all and (max-width: 317px ) {
    .introText h3 {
        font-size: 0.6rem;
    }
}