@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --purple: #1d3557;
    --box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    --blue: #0092ff;
    --dark: rgb(50, 50, 50);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

.max-width {
    margin: auto;
    max-width: 1300px;
}


/*******************/
/*******NAV BAR*****/
/*******************/

h1 {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 600;
    cursor: default;
    }

header {
    width: 100%;
    background-color: var(--dark);
    height: 50px;
}

.heading {
    height: 50px;
    padding: 0 2rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hamburger {
display: none;
}

#hamburger:hover {
cursor: pointer
}

#bar-one, #bar-three {
    border-radius: 2px;
    height: 2px;
    min-width: 30px;
    background-color: white;
    transition: 500ms;
}

#bar-two {
    border-radius: 2px;
    height: 2px;
    width: 15px;
    background-color: white;
    transition: 200ms;
}

.nav-menu {
    list-style-type: none;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.nav-link {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
}
.nav-link:hover {
    opacity: 0.6;
}

/******************/
/****** HERO ******/
/******************/

.about-section {
    margin: 10rem 0;
    display: flex;
    gap: 2rem;
    padding: 0 1rem;
}

.about-title {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.about-photo {
    width: 50%;
    display: grid;
    place-items: center;
}

.about-photo img {
    width: 400px;
    height: auto;
    border-radius: 50%;
}

.about-text {
    width: 50%;
}

.about-description {
    line-height: 1.5;
    margin-bottom: 3rem;
    font-size: 18px;
    padding-right: 2rem;
}

.hero-buttons {
    display: flex;
    gap: 2rem;
}

.hero-buttons a {
    text-decoration: none;
    border-radius: 1rem;
    width: 175px;
    height: 50px;
    display: grid;
    place-items: center;
    font-weight: 400;
    font-size: 16px;
}

.view-projects-btn {
    border: 2px solid var(--dark);
    background-color: var(--dark);
    color:#fff;
    transition: 500ms;
}

.view-projects-btn:hover {
    background-color: #fff;
    color: var(--dark);
}

.hero-github-btn {
    border: 2px solid var(--dark);
    background-color: #fff;
    color: var(--dark);
    transition: 500ms;
}

/*******************/
/*****Experience*****/
/*******************/

.experience-section {
    padding: 0 1rem 5rem 1rem;
}

.experience-title {
    margin-top: 5rem;
    font-size: 4rem;
    margin-bottom: 2rem;
    text-align: center;
}

.experience-paragraph {
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-size: 18px;
}

.experience-flex-container {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    padding: 0 1rem;
}

.experience-card {
    max-width: 450px;
    flex-basis: 300px;
    padding: 2rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 2rem;
    transition: 500ms;
    flex-grow: 1;
}

.experience-card:hover {
    transform: skewY(-2deg);
}

.experience-logo {
display: flex;
justify-content: center;
}

.experience-logo img {
    width: 30px;
    height: auto;
    margin-bottom: 2rem;
}

.experience-card-title{
    font-size: 22px;
    margin-bottom: 1rem;
    font-weight: 600;
}

.experience-description {
    font-size: 17px;
}

/* Technology */

.tech-section{
    margin: 7.5rem 0;
    padding: 0 1rem;
}
.line-break {
    height: 1px;
    background-color: #00000070;
}
.tech-title{
    font-size: 4rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
    text-align: center;
}
.tech-description{
    margin: 0 auto 4rem auto;
    text-align: center;
    font-size: 18px;
}
.tech-flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4rem;
    margin: auto;
    padding-bottom: 6rem;
    max-width: 1000px;
}
.tech-card{
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tech-logo {
    justify-content: center;
    display: flex;
}

.tech-image {
    width: 40px;
    height: auto;
}
.tech-image-sass {
    margin-top: 0.5rem;
    width: 55px;
}
.tech-image-js {
    margin-top: 0.5rem;
    width: 45px;
}
.tech{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

/*******************/
/*****Portfolio*****/
/*******************/

.portfolio-section {
    padding: 0 1rem 7rem 1rem;
}

.portfolio-section-title {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 4rem;
    margin-top: 5rem;
    font-weight: 900;
}

.second-paragraph {
    margin: auto;
    text-align: center;
    font-size: 18px;
    max-width: 800px;
    margin-bottom: 3rem;
}

.second-flex-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.box {
    width: 400px;
    box-shadow:var(--box-shadow);
   background-color: #fff;
    border-radius: 0.5rem;
}


.pro-text-box { padding: 1rem; }

.project-image {
    width: 100%;
    height: auto;
    border-radius: 0.5rem 0.5rem 0 0;
}

.pro-number {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    color: #000;
    opacity: 0.5;
}

.pro-name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.pro-description {
    margin-bottom: 1rem;
}

.line {
    width: 100%;
    margin: auto;
    height: 1px;
    background-color: #000;
}

.tech-flex {
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
}

.tech-flex img {
    display: block;
    margin-right: 1.5rem;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.select-button {
    font-size: 14px;
    font-weight: 600;
    width: 125px;
    height: 35px;
    display: grid;
    place-items: center;
    background-color: rgb(61, 215, 61);
    text-decoration: none;
    color: #000;
}

.image {
    background-color: #bcb8b1;
    border-radius: 0.5rem 0.5rem 0 0;
}

.text-box {
    padding: 1rem 1rem 0;
}

.box-title {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.box-description {
    font-size: 16px;
    margin-bottom: 1rem;
}

.box-link-flex {
    display: flex;
    justify-content: space-between;
}

.box-link {
    display: inline-block;
    text-align: center;
    padding: 0.25rem 0;
    font-size: 14px;
    margin-bottom: 1rem;
    width: 120px;
    border-radius: 0.25rem;
    background-color: #161618;
    color: #fff;
    text-decoration: none;
}




/*******************/
/*******COTNACT*****/
/*******************/

.contact-container {
	max-width:600px;
	width:90%;
	margin:auto;
}

#contact input, #contact textarea, #contact button[type="submit"] { 
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
	border:1px solid #CCC;
	background:#FFF;
	margin-bottom: 2rem;
	padding:0.75rem;
}

#contact {
    box-shadow: var(--box-shadow);
	padding:25px;
	margin: 5rem 0;
    border-radius: 0.5rem;
}

#contact h3 {
    margin-bottom: 2rem;
	color: var(--dark);
    text-align: center;
	font-size: 2rem;
	font-weight: 500;
}

#contact textarea {
	height:300px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	border:none;
	background-color: var(--dark);
	color:#FFF;
	padding: 0.75rem;
	font-size:16px;
    transition: 250ms;
    border: 1px solid #fff;
}

#contact button[type="submit"]:hover {
    color: var(--dark);
	background-color: transparent;
    border: 1px solid var(--dark);
}

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}

.top-button {
    position: fixed;
    bottom: 35px;
    right: 35px;
    width: 70px;
    height: 70px;
    background-color: var(--dark);
    color: white;
    border-radius: 50%;
    transition: background-color 250ms;
    display: grid;
    place-items: center;
    font-size: 13px;
    text-align: center;
}

.top-button:hover {
    cursor: pointer;
}

/*******JS ANIMATIONS*****/

/* Hamburger */
.rotate-right {
    transform: translate(-2px, 1px) rotate(-390deg);
    transform-origin: right;
}

.rotate-left {
    transform: translate(-2px, -1px) rotate(390deg);
    transform-origin: right;
}

.disappear {
    opacity: 0;
    transform: translateX(49px)
}

/* Timings */

.one { transition: 750ms; }
.two { transition: 1s; }
.three { transition: 1.25s; }
.four { transition: 1.75s; }
.five { transition: 2s; }
.six { transition: 3s; }
.seven { transition: 3s; }

/* Page Load Effects */

.reveal-up-load {
    position: relative;
    transform: translateY(100px);
    opacity: 0;
}

.reveal-up-load.active {
    transform: translateY(0px);
    opacity: 1;
}

.reveal-load {
    position: relative;
    opacity: 0;
}

.reveal-load.active {
    transform: translateY(0px);
    opacity: 1;
}

/* Scroll Load ins */

.reveal-up {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
}

.reveal-up.active {
    transform: translateY(0px);
    opacity: 1;
}

.reveal-up-short {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
}

.reveal-up-short.active {
    transform: translateY(0px);
    opacity: 1;
}

.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}


/*************************/
/*******MEDIA QUERIES*****/
/*************************/

@media (max-width: 900px) {
    .about-title {
        text-align: center;
        margin-top: 2rem;
    }
    .about-description {
        margin: 0 auto 2rem auto;
        text-align: center;
        padding-right: 0;
    }
    .skills-title {
        text-align: center;
    }
    .about-section {
        flex-direction: column;
    }
    .about-text, .about-photo {
        width: 100%;
    }
    .skills-title {
        margin-bottom: 2rem;
    }
    .about-icons {
        padding: 0 2rem;
    }
    .hero-buttons {
        justify-content: center;
    }
}

@media (max-width: 767px) {
    #hamburger {
        height: 20px;
        width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }
    .nav-menu {
        line-height: 4rem;
        padding: 2rem;
        position: absolute;
        top: 50px;
        right: -300px;
        background-color: var(--dark);
        width: 300px;
        transition: 250ms;
        height: 300px;
        flex-direction: column;
    }
    
    .nav-menu li {
        list-style-type: none;
        border-bottom: 1px solid white;
    }
    .nav-active {
        right: 0;
    }
    .about-title, .experience-title, .tech-title, .portfolio-section-title {
        font-size: 3rem;
        transition: 500ms;
    }
    .about-photo img {
        width: 300px;
        transition: 500ms;
    }
}

/* Small Mobile */
@media (max-width: 400px) {
    .box {
        flex-grow: 1;
    }
}