* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.homepage {
  background-color: #023047;
  height: 100vh;
}

nav {
  height: 60px;
  margin: auto;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  color: #52b788;
}

ul {
  width: 50%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

li {
  color: #52b788;
}

li:hover {
  cursor: pointer;
  color: #dddf00;
  -webkit-transition: 1s;
  transition: 1s;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #52b788;
}

.homeContainer {
  padding: 0 25px;
  margin: auto;
  width: 60%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.introText {
  color: #52b788;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introText h3 {
  line-height: 2.5rem;
}

.portfolio {
  background-color: #002a3f;
  padding: 140px 0;
}

.portfolio h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 100px;
  color: #52b788;
}

.portfolioContainer {
  margin: auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}

.portfolioContainer .leftBox, .portfolioContainer .centreBox, .portfolioContainer .rightBox {
  height: 420px;
  padding: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 275px;
      flex-basis: 275px;
  background: #023047;
  text-align: center;
  border: 2px solid #52b788;
  border-radius: 30px;
}

.portfolioContainer .leftBox .imageContainer img, .portfolioContainer .centreBox .imageContainer img, .portfolioContainer .rightBox .imageContainer img {
  width: 200px;
  padding: 10px 0;
}

.portfolioContainer .leftBox h3, .portfolioContainer .centreBox h3, .portfolioContainer .rightBox h3 {
  color: #52b788;
  padding: 8px 0;
}

.portfolioContainer .leftBox a, .portfolioContainer .centreBox a, .portfolioContainer .rightBox a {
  text-decoration: none;
  padding: 5px 20px;
  font-weight: bold;
  color: black;
  border-radius: 20px;
  background-color: #dddf00;
}

.portfolioContainer .leftBox a:hover, .portfolioContainer .centreBox a:hover, .portfolioContainer .rightBox a:hover {
  background-color: #52b788;
}

.portfolioContainer .leftBox p, .portfolioContainer .centreBox p, .portfolioContainer .rightBox p {
  color: #ffffff;
  padding: 15px;
}

.contact {
  background-color: #002a3f;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact h2 {
  font-size: 2.5rem;
  text-align: center;
  color: #52b788;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #52b788;
  padding: 20px;
  border-radius: 25px;
}

form input {
  padding: 15px;
  height: 30px;
  width: 350px;
  margin-top: 25px;
  border: 1px solid #002a3f;
  border-radius: 15px;
}

form textarea {
  padding: 15px;
  width: 350px;
  margin: auto;
  margin: 25px 0;
  border: 1px solid #002a3f;
  border-radius: 15px;
}

form .button {
  width: 80px;
  height: 30px;
  background-color: #dddf00;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0;
}

form .button:hover {
  cursor: pointer;
  opacity: 80%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.toTop {
  background: #52b788;
  position: fixed;
  bottom: 300px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.toTop.active {
  bottom: 30px;
  pointer-events: auto;
  opacity: 1;
}

.toTop:hover {
  cursor: pointer;
}

@media all and (max-width: 560px) {
  .introText h3 {
    font-size: 0.8rem;
  }
  .introText {
    height: 75%;
  }
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 60px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #002a3f;
    width: 100%;
    height: 95vh;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .nav-menu.active {
    left: 0;
  }
  .contact input {
    width: 200px;
  }
  .contact textarea {
    width: 200px;
  }
}

@media all and (max-width: 375px) {
  .introText h3 {
    font-size: 0.7rem;
  }
  .homeContainer {
    width: 100%;
  }
}

@media all and (max-width: 317px) {
  .introText h3 {
    font-size: 0.6rem;
  }
}
/*# sourceMappingURL=style.css.map */